<!DOCTYPE html>
<html>
  <head>
    <title>Conflict Event Coder</title>
  </head>

  <body>
    <form action="#" method="POST">
      <label for="framework">Choose a event coding framework:</label>
      <select id="framework" name="frameworks">
        <option value="UCDP">UCDP</option>
        <option value="WEIS">WEIS</option>
        <option value="ACLED">ACLED</option>
      </select>
      <input type="file" name="data" id="data">
      <input type="submit" name="" id="">
    </form>
  </body>
</html>