<!DOCTYPE html>
<html>
  <head>
    <title>Conflict Event Coder</title>
  </head>

  <body>
    <h1>BERTRARCH</h1>
    <form action="#" method="POST">
      <p><label for="framework">Choose a event coding framework:</label></p>
      <p><select id="framework" name="framework"></p>
        <option value="UCDP">UCDP</option>
        <option value="WEIS">WEIS</option>
        <option value="ACLED">ACLED</option>
      </select>
      <p><label for="file">Upload a .xlsx or .csv file to classify:</label></p>
      <p><input type="file" name="data" id="data"></p>
      <p><input type="submit" name="" id=""></p>
    </form>
  </body>
</html>